body {
    font-family: Georgia, serif;
    background-image: url('https://i.pinimg.com/564x/93/f1/5f/93f15f324e5727f0159b7cb9c2c8219d.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #111;
    padding: 40px;
    line-height: 1.6;
  }
  
  h1 {
    text-align: center;
    color: #003366;
    margin-bottom: 40px;
  }
  
  ol {
    font-size: 18px;
  }
  
  ul {
    list-style-type: circle;
    margin-left: 25px;
    margin-bottom: 30px;
  }
  
  img {
    margin: 10px 15px 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 5px #555;
  }
  